<h1>Welcome#about</h1>

<p>Find me in app/views/welcome/about.html.erb</p>

<button type="button" class="btn btn-dark social-btn"><%= link_to "Follow me here", "https://www.twitter.com/?lang=en" %></button>

